
.cart {
    padding: 10% 14%;
    text-align: center;
}
.cart-list {
    margin: 0 auto;
}
.cart-frame {
    margin: 0 auto;
    width: 80%;
    height: 300px;
    flex-direction: column; 
}

.cart-description {
    width: 100%;
    display: flex;
    padding: 2% 5%;
    /* margin: 2rem; */
}
.cart-description img {
    position: relative;
    top: -50px;
    left: -25px;
}

.cart-info {
    padding: 2% 5%;
    position: relative;
    /* margin: 0 auto; */
    display: inline-block;
    width: 200px;
}
input {
    all: unset;
}
.search#neu-button {
    width: 30%;
}