* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #333D47;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #CC9544;
  /* background-color: #ECECEC; */
}


ul {
  list-style-type: none;
}

header {
  z-index: 100;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: #CC9544;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
}

/* flex navigation list  */
.navlist {
  display: flex;
  column-gap: 3rem;
  padding-top: 1.2rem;

}

.navlist li {
  height: 50px;
  border-radius: 50px;
  align-items: center;
  text-align: center;
  background: #CC9544;
  box-shadow: 14px 14px 28px #ad7f3a,
    -14px -14px 28px #ebab4e;
  padding: 1rem 1.5rem;
}

.navlist li:hover, li:active {
  /* border-radius: 50%;
  background: #CC9544; */
  box-shadow: inset 10px 10px 21px #b8863d,
    inset -10px -10px 21px #e0a44b;
}

/* design for individual elements in navlist */
.navlist a {
  font-size: 1em;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

/* animation when hover over navlist elements */
.navlist a:hover {
  color: grey;
  font-size: 1.1em;
}

/* logo image design */
.logo img {
  width: 3.5rem;
  transition: 1s ease-in-out;
}

/* logo image animation */
.logo img:hover {
  transform: scale(1.1);
}

.main-page {
  height: 750px;
  padding-top: 75px;
}

.home {
  padding: 10% 14%;
  margin-top: 70px;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 650px solid white;
  border-right: 720px solid transparent;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 70px;
  z-index: 2;
  padding: 5%;
  /* width: 500px; */
  width: 100%;
  height: 680px;
  background: linear-gradient(to bottom right, white 0%, white 50%, rgba(255, 0, 0, 0) 50%, rgba(255, 0, 0, 0) 100%);
  border-color: transparent #000000 transparent transparent;
}

.home-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-text {
  /* float: right; */
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.home-image img {
  width: 450px;

  position: absolute;
  right: 10%;
  bottom: 10%;

}

.gradient-container {
  height: 650px;
  width: 640px;
}

#gradient-canvas {
  /* width: 100%; */
  height: 100%;
  --gradient-color-1: #1c0a00;
  --gradient-color-2: #361500;
  --gradient-color-3: #603601;
  --gradient-color-4: #cc9544;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}


/* 
  Design for Cards Section
*/

.info-cards {
  display: block;
  height: 65rem;
  background-color: #e0e0e0;
  align-items: center;
}

/* align card items in a row an column wise */
.row {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 0 auto;
}

/* each column has 50% width to ensure that 
only two cards are in each row */
.column {
  width: 50%;
  margin-bottom: 20px;
}

/* 
  Layout for individual card elements
*/
.content-1 {
  display: inline-block;
  position: absolute;
  width: 20rem;
  top: 5%;
  letter-spacing: 0.02em;
}

.content-2 {
  display: inline-block;
  position: absolute;
  width: 20rem;
  bottom: 0%;
  letter-spacing: 0.02em;
  color: white;
}

.content-3 {
  display: inline-block;
  position: absolute;
  width: 20rem;
  bottom: 25%;
  letter-spacing: 0.02em;
}

.stars {
  width: 300px;
}

.stars h1 {
  font-size: 2em;
}


/* 
  Styling the layout of the individual cards
*/
.card {
  height: 30rem;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: center;
}

/* 
  Design for individual card elements
*/
#card-1 {
  background-image: url("../assets/card/coffee-products.png");
  background-size: 20rem 15rem;
  background-position: 50% 15%;
  background-color: rgb(172, 155, 99);
  background-repeat: no-repeat;
}

#card-2 {
  background-image: url("../assets/card/petronas-step-1-cropped.png");
  background-size: 44rem 18rem;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

#card-3 {
  background-image: url("../assets/card/cloudy-skies.jpeg");
  background-color: #0a242f;
  color: white;
}

#card-4 {
  background-image: url("../assets/5618-coffee-cup.png");
  background-color: #0a242f;
  background-size: 20rem 20rem;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  color: white;
}

/* Design for the button in one of the cards */
#one {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.3s ease-in;
}

/* Provide animation for button in the card */
#one:hover {
  color: black;
  background: silver;
  transform: scale(1.05);
}

#one:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* #two {
  letter-spacing: 0.02em;
} */
/* 
  Content of the cards
*/
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-cards h1 {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.face1 h2 {
  margin: 0;
  padding: 0;
}

/* 
  Adding responsiveness to the cards
*/
@media screen and (max-width: 800px) {
  .info-cards {
    height: 128rem;
    transition: .5s;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card {
    height: 30rem;
  }
}

/* carousel design for product list */
.carousel-item {
  transition: transform 1.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.item {
  background: linear-gradient(to right, #F5F7FA 0%, #B8C6DB 100%);
  display: flex;
  height: 40rem;
}

.item-left {
  padding: 1.5rem;
  flex: 0.5;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  margin-top: 12rem;
  margin-left: 5rem;
}

.item-right {
  flex: 1;
}

.item-right img {
  width: 100%;
  height: 40rem;
}

.content-wrapper {
  padding: 10% 14%;
}