* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #333D47;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #CC9544;
  /* background-color: #ECECEC; */
}


ul {
  list-style-type: none;
}

header {
  z-index: 100;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: #CC9544;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
}

/* flex navigation list  */
.navlist {
  display: flex;
  column-gap: 3rem;
  padding-top: 1.2rem;

}

.navlist li {
  height: 50px;
  border-radius: 50px;
  align-items: center;
  text-align: center;
  background: #CC9544;
  box-shadow: 14px 14px 28px #ad7f3a,
    -14px -14px 28px #ebab4e;
  padding: 1rem 1.5rem;
}

.navlist li:hover, li:active {
  /* border-radius: 50%;
  background: #CC9544; */
  box-shadow: inset 10px 10px 21px #b8863d,
    inset -10px -10px 21px #e0a44b;
}

/* design for individual elements in navlist */
.navlist a {
  font-size: 1em;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

/* animation when hover over navlist elements */
.navlist a:hover {
  color: grey;
  font-size: 1.1em;
}

/* logo image design */
.logo img {
  width: 3.5rem;
  transition: 1s ease-in-out;
}

/* logo image animation */
.logo img:hover {
  transform: scale(1.1);
}

.main-page {
  height: 750px;
  padding-top: 75px;
}

.home {
  padding: 10% 14%;
  margin-top: 70px;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 650px solid white;
  border-right: 720px solid transparent;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 70px;
  z-index: 2;
  padding: 5%;
  /* width: 500px; */
  width: 100%;
  height: 680px;
  background: linear-gradient(to bottom right, white 0%, white 50%, rgba(255, 0, 0, 0) 50%, rgba(255, 0, 0, 0) 100%);
  border-color: transparent #000000 transparent transparent;
}

.home-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-text {
  /* float: right; */
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}
/* animated background for coffee */
.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  /* height:100vh; */
  height: 100%;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* coffee image */
.home-image img {
  width: 650px;

  position: absolute;
  right: 10%;
  bottom: 10%;

}

.gradient-container {
  height: 680px;
  width: 100%;
  overflow: hidden;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #1c0a00;
  --gradient-color-2: #361500;
  --gradient-color-3: #603601;
  --gradient-color-4: #cc9544;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
}


/* 
  Design for Cards Section
*/

.info-cards {
  display: block;
  height: 65rem;
  background-color: #e0e0e0;
  align-items: center;
}

/* align card items in a row an column wise */
.row {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 0 auto;
}

/* each column has 50% width to ensure that 
only two cards are in each row */
.column {
  width: 50%;
  margin-bottom: 20px;
}

/* 
  Layout for individual card elements
*/
.content-1 {
  display: inline-block;
  position: absolute;
  width: 20rem;
  top: 5%;
  letter-spacing: 0.02em;
}

.content-2 {
  display: inline-block;
  position: absolute;
  width: 20rem;
  bottom: 0%;
  letter-spacing: 0.02em;
  color: white;
}

.content-3 {
  display: inline-block;
  position: absolute;
  width: 20rem;
  bottom: 25%;
  letter-spacing: 0.02em;
}

.stars {
  width: 300px;
}

.stars h1 {
  font-size: 2em;
}


/* 
  Styling the layout of the individual cards
*/
.card {
  height: 30rem;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: center;
}

/* 
  Design for individual card elements
*/
#card-1 {
  background-image: url("../assets/card/coffee-products.png");
  background-size: 20rem 15rem;
  background-position: 50% 15%;
  background-color: rgb(172, 155, 99);
  background-repeat: no-repeat;
}

#card-2 {
  background-image: url("../assets/card/petronas-step-1-cropped.png");
  background-size: 44rem 18rem;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

#card-3 {
  background-image: url("../assets/card/cloudy-skies.jpeg");
  background-color: #0a242f;
  color: white;
}

#card-4 {
  background-image: url("../assets/5618-coffee-cup.png");
  background-color: #0a242f;
  background-size: 20rem 20rem;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  color: white;
}

/* Design for the button in one of the cards */
#one {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.3s ease-in;
}

/* Provide animation for button in the card */
#one:hover {
  color: black;
  background: silver;
  transform: scale(1.05);
}

#one:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* #two {
  letter-spacing: 0.02em;
} */
/* 
  Content of the cards
*/
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-cards h1 {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.face1 h2 {
  margin: 0;
  padding: 0;
}

/* 
  Adding responsiveness to the cards
*/
@media screen and (max-width: 800px) {
  .info-cards {
    height: 128rem;
    transition: .5s;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card {
    height: 30rem;
  }
}

/* 
  Design for the Company Section
*/
.company {
  display: flex;
  height: 650px;
  /* position: relative; */
}

.company-info {
  position: absolute;
  padding: 5% 10%;
  z-index: 100;
  color: white;
}

/* Adjust the dimensions of the video */
#company-video {
  object-fit: fill;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

/* Container for the company logo and title */
.company-logo {
  display: flex;
  border-bottom: 2px solid white;
}

.company-logo img {
  height: 8rem;
}

/* Adjust the texts in the container */
.company-title {
  display: inline-block;
  padding: 5% 8%;
}

.company-title h2 {
  color: black;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.25;
  text-shadow:
    0px 7px rgba(0, 0, 0, 0.3),
    -3px 0px 7px rgba(0, 0, 0, 0.3),
    0px 4px 7px rgba(255, 255, 255, 0.3);
}

/* Adjust the texts for the company address */
.company-address {
  display: flex;
  border-bottom: 2px solid white;
}

.company-address-text {
  display: inline-block;
  padding: 10% 2%;
  max-width: 400px;
}

.company-address-text h2 {
  color: black;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-shadow:
    0px 2px rgba(0, 0, 0, 0.3),
    -3px 0px 2px rgba(0, 0, 0, 0.3),
    0px 2px 2px rgba(255, 255, 255, 0.3);
}

.company-address-text h3 {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  font-size: 1em;
  text-shadow:
    0px 2px rgba(0, 0, 0, 0.3),
    -3px 0px 2px rgba(0, 0, 0, 0.3),
    0px 2px 2px rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-in;
}

.company-address-text h3:hover {
  color: black;
  transform: translateX(5px);
  cursor: pointer;
}

.company-address-text i {
  font-size: 1.25em;
  transition: 0.3s ease-in-out;
}

.company-address-text i:hover {
  transform: scale(1.2);
  font-size: 1.25em;
}

.company-location {
  padding: 10% 2%;
  font-size: 3em;
  text-shadow:
    0px 7px rgba(0, 0, 0, 0.3),
    -3px 7px 2px rgba(0, 0, 0, 0.3),
    0px 2px 7px rgba(255, 255, 255, 0.3);
  transition: 0.5s ease-in;

}

.company-location:hover {
  cursor: pointer;
  transform: translateX(-5px);
}

.company-quote {
  padding: 2% 2%;
  width: 400px;
  font-size: .9em;
  font-weight: 400;
}

/* Design for the company social icons */
.company-socials {
  display: flex;
  position: absolute;
  align-items: center;
  letter-spacing: 0.05em;
  line-height: 1.25;
}

.company-socials h4 {
  font-size: 1.25em;
  margin-right: 1rem;
  color: #565661;
  transition: 0.5s ease-in;
}

.company-socials i {
  margin-top: 0.5rem;
}

#insta {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#insta-h4:hover {
  cursor: pointer;
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateY(5px);
}

#youtube {
  color: red;
}

#youtube-h4:hover {
  cursor: pointer;
  color: red;
  transform: translateY(5px);
}

#facebook-h4:hover {
  cursor: pointer;
  color: blue;
  transform: translateY(5px);
}

#facebook {
  color: blue;
}

#linkedin {
  color: white;
  transition: 0.3s ease-in;
}

#linked-h4:hover {
  cursor: pointer;
  color: white;
  transform: translateY(5px);
}

@media screen and (max-width: 700px) {

  .company-logo img {
    height: 6rem;
  }

  .company {
    height: 550px;
  }

  .company-address-text h2 {
    font-size: 1em;
  }

  .company-address-text h3 {
    font-size: 0.75em;
  }

  .company-location {
    font-size: 2em;
  }

  .company-socials {
    font-size: 0.75em;
  }
}