input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.return-button {
    /* padding: 10% 5%; */

    display: flex;
    align-items: center;
    column-gap: 20%;
    width: 100%;
    margin-bottom: 2rem;
}
.return-button h3 {
    color: white;
}

.product {
    background: #c79243;
    padding: 8% 0;
    display: inline-block;
    width: 100%;
    /* width: 100%; */
    /* text-align: center; */
}

#product-form {
    display: flex;
    column-gap: 3rem;
}

#neu-button {
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c79243;
    box-shadow: 6px 6px 13px #c79243,
        -6px -6px 13px #e5a84d;
    transition: 0.3s ease-in-out;
}

.love#neu-button:hover {
    background: radial-gradient( #c79243 0%, #e5a84d 60%);
    transform: translateX(10px);
    animation: colorchange 3s linear infinite;
}
.love#neu-button[checked] {
    background: red;
}

.coffee#neu-button:hover {
    transform: translateX(-10px);
}

@keyframes colorchange {
    to {
        filter: hue-rotate(360deg);
    }
}

#quantity {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 13px;
    background: #c79243;
    box-shadow: 6px 6px 9px #8b662f,
        -6px -6px 9px #ffbe57;
}

#submit {
    text-align: center;
    border-radius: 25px;
    padding: 16px 25px;
    background: #c79243;
    box-shadow: 6px 6px 9px #8b662f,
        -6px -6px 9px #ffbe57;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 350px;
    position: relative;
    box-shadow:
        -7px -7px 20px 0px #a97c39,
        -4px -4px 5px 0px #a97c39,
        7px 7px 20px 0px #e5a84d,
        4px 4px 5px 0px #e5a84d,
        inset 0px 0px 0px 0px #a97c39,
        inset 0px 0px 0px 0px #e5a84d,
        inset 0px 0px 0px 0px #a97c39, inset 0px 0px 0px 0px #e5a84d;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    border-radius: 10px;
}

.product-description {
    position: relative;
    overflow: none;
    padding-left: 25%;
}
.description {
    width: 50%;
}