* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: rgb(157, 153, 153);
}

.registration {
  margin-right: auto;
  padding: 4rem;
  margin-left: auto;
  overflow: hidden;
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  justify-content: center;
  height: 720px;
  position: relative;
}

/* added shapes for glassmorphism effects */
.shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape.first {
  background: linear-gradient(#1845ad,
      #23a2f6);
  right: 0;
  top: 0;
}

.shape.second {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  left: 45%;
  bottom: 0;
}

.shape.third {
  background: linear-gradient(to right,
      #603601,
      #f09819);
  left: 0%;
  bottom: 0;
}

/* set width at 50%  */
.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

/* adjust the content next to the sign up form  
    add animated gradient background
  */
.signup__content {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background: linear-gradient(-45deg, #ee7752, #ed1769, #becbd0, black);
    animation: gradient 8s ease infinite;
    background-size: 400% 400%; */

}

/* animation for gradient background */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* design for signup form 
    add in backdrop filter for the glassmorphism effect
  */
.signup {
  background-color: silver;
}

.signup__form {
  margin-right: auto;
  height: 100%;
  padding: 4rem;
  backdrop-filter: blur(5rem);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  z-index: 5;
  border-radius: 2rem;
  transition: all .3s ease;
  overflow: none;
}

.signup__form h2 {
  margin-bottom: 2rem;
}

.signup__logo img {
  width: 2rem;
}

.signup__title {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 2%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 0.5rem;
}

.signup__text h1 {
  letter-spacing: 0.05em;
  font-size: 1.25em;
  /* margin-top: 0.5em; */
}

.signup__description {
  position: absolute;
  top: 60%;

}

.signup__description h2 {
  /* max-width: 300px; */
  margin-top: 0.5em;
  line-height: 1.5;
  font-size: 2em;
  letter-spacing: 0.05em;
  /* color: black; */
}


.signup__form h2 {
  /* margin-top: 0.5rem; */
  color: #fff;
  text-align: center;
}

.signup__title__logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30%;
  min-width: 480px;
}

.signup__title__logo h1 {
  font-size: 6em;
  letter-spacing: 0.15em;
}

.user-box {
  position: relative;
  margin-top: 1rem;
}

/* design for input in the box  */
.user-box input {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1em;
  color: #fff;
  margin-bottom: 4rem;
  border: none;
  border-bottom: 1.5px solid #fff;
  outline: none;
  background: transparent;
}

/* position the placeholder in the text */
.user-box label {
  position: absolute;
  top: -1rem;
  left: 0;
  padding: 1rem 0;
  font-size: 1em;
  color: #fff;
  transition: .5s;
  pointer-events: none;
}

.user-box input:hover~label {
  color: #ee7752;
}

/* animate the input placeholder  */
.user-box input:focus~label,
.user-box input:valid~label {
  top: -3rem;
  left: 0;
  color: #03e8f4f8;
  font-size: 1em;
}


.form-title {
  color: #fff;
  font-size: 2em;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.container {
  height: 600px;
  width: 500px;
  /* background-color: white; */
  box-shadow: 0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
  border-radius: 2rem;
  /* box-shadow: 8px 8px 20px rgb(128, 128, 128); */
  position: relative;
  overflow: hidden;
}

.btn {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 35px 35px 70px #817d7e,
    -35px -35px 70px #b9b5b6;
}



.login,
.signup {
  font-size: 22px;
  width: 50%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  /* background-color: red; */
}

.login:active,
.login:focus,
.signup:focus {
  color: white;
  border-radius: 50px;
  background: #9D999A;
  box-shadow: inset 20px 20px 39px #858283,
    inset -20px -20px 39px #b5b0b1;

}

.input-field {
  width: 100%;
  padding: 20px 5px 10px 5px;
}

.input-field input {
  /* To hide default browser options of input field */
  border: none;
  outline: none;
  /* Custom design for the input field */
  background: none;
  font-size: 18px;
  color: #555;
  padding: 15px 10px 15px 15px;
  margin-bottom: 20px;
                border-radius: 20px;
                /* Box-shadow for 3d */
                box-shadow: inset 5px 5px 5px #cbced1,
                  inset -5px -5px 5px #ffffff;
}

.form-section {
  height: 400px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.form-section-move {
  left: -500px;
}

.login-box,
.signup-box {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.login-box {
  gap: 50px;
  height: 60%;
}

/* .signup-box {
  gap: 30px;
} */

.ele {
  height: 60px;
  width: 400px;
  outline: none;
  border: none;
  color: rgb(77, 77, 77);
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding-left: 30px;
  font-size: 18px;
}

.clkbtn {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right,
      rgb(255, 195, 110),
      rgb(255, 146, 91));
  font-size: 22px;
  border: none;
  cursor: pointer;
}

#register-button {
  padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 /* background: #e8e8e8; */
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 border-radius: 50px;
/* background: #e0e0e0; */
box-shadow: 0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf;
 transition: all 250ms;
 overflow: hidden;
}
#register-button:hover {
  box-shadow: inset 20px 20px 39px #858283,
    inset -20px -20px 39px #b5b0b1;
}

#register-button::before {
  content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}
#register-button:hover {
  color: #e8e8e8;
 }
 
 #register-button:hover::before {
  width: 100%;
 }

/* add responsiveness to the sign up form */
@media screen and (max-width: 800px) {
  /* .signup {
    display: flex;
    flex-direction: column;
    height: 840px;
    padding: 1rem;
    row-gap: 1rem;
  } */

  .container__child {
    width: 80%;
  }

  .shape.first {
    top: 30%;
    left: 20%;
  }

  .signup__title__logo {
    transform: scale(0.5);
  }
}